
/*css style*/

body {
font-family: 'Times New Roman', Times, serif;
color: brown;
}

.sectionDiv {
width:100%;
border: 1px solid ;
border-color: black;
background-color: aliceblue;
}

.articleDiv {
    border: 1px solid ;
    border-color: rgba(109, 126, 11, 0.644);
    background-color: aliceblue;
    border-radius: 5 px;
    }
.a100div {
    background-color: blue;
    width: 100px;
    min-height: 100px;
}
