
/*css style*/

body {
font-family: 'Times New Roman', Times, serif;
color: rgb(255, 250, 250);
}

.sectionDiv {
width:100%;
border: 1px solid ;
border-color: black;
background-color: aliceblue;
}

.articleDiv {
    border: 1px solid ;
    border-color: rgba(109, 126, 11, 0.644);
    background-color: aliceblue;
    border-radius: 5 px;
    }
.flexDivSection {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    background-color: hwb(225 41% 23% / 0.555);
    
}
.div100 {
    width: 100px;    
    height: 100px;
    background-color: hwb(225 16% 53% / 0.555);
    border: solid 5px;
    border-top: 2px;
}

.div100r {
    width: 100px;    
    height: 100px;
    background-color: hwb(225 16% 53% / 0.555);
    border: solid 5px;
    border-radius: 50%;
}
